extends layout
block content
    #nav
        .search Search
        .tag
            span.main Sea
            span.list
                span Landscape
                span Microsoft
                span Github
                span Landspace
                span Ruby
        .sign Sign
        .add
            form(action="/save",method="post",name="upload",enctype="multipart/form-data")
                label(for="file-field") 选择文件
                input#file-field(type="file",name="file",multiple="true")
                a#upload-triggers(href="#upload") 提交
    #container
        #pic
            #img
    #control
        a.zoom(href="#",data-zoom="actual-pixels").checked 适应
            br
            | 屏幕
        a.zoom(href="#",data-zoom="fit-screen") 实际
            br
            | 大小
    #list
        #file-container
            .file

    #sidebar
    script(src="/sea-debug.js",data-config="/config",data-main="/home/init",id="seajsnode")
