extends layout
block content
    #nav
        .search Search
        .tag
            span.main Sea
            span.list
                span Landscape
                span Microsoft
                span Github
                span Landspace
                span Ruby
        .sign Sign
    #container
        #pic
            img#img(src="/images/2.jpg")
    #control
    #list
    #sidebar
    script(src="/sea-debug.js",data-config="/config",data-main="/home/init",id="seajsnode")
