extends layout
block content
    #nav
        .search Search
        .tag
            span.main Sea
            span.list
                span Landscape
                span Microsoft
                span Github
                span Landspace
                span Ruby
        .sign Sign
        .add
            form(action="/save",method="post",enctype="multipart/form-data")
                input(type="file",name="file")
                input(type="submit",value="Save")

    #container
        #pic
            #img
    #control
        a.zoom(href="#",data-zoom="actual-pixels").checked 适应
            br
            | 屏幕
        a.zoom(href="#",data-zoom="fit-screen") 实际
            br
            | 大小
    #list
        #file-container
            .file

    #sidebar
    script(src="/sea-debug.js",data-config="/config",data-main="/home/init",id="seajsnode")
