extends layout
block content
    #nav
        .search Search
        .tag
            span.main Sea
            span.list
                span Landscape
                span Microsoft
                span Github
                span Landspace
                span Ruby
        .sign Sign
    #container
        #pic
            #img
                img
    #control
        a.zoom(href="#",data-zoom="actual-pixels") 1:1
        a.zoom(href="#",data-zoom="fit-screen") 100%
    #list
    #sidebar
    script(src="/sea-debug.js",data-config="/config",data-main="/home/init",id="seajsnode")
