body 
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    margin: 0
    padding: 0
    background: #333

a
    color: #fff

#nav 
    height: 51px
    background: #000
    color: #fff
    position: relative
    white-space: nowrap
    z-index:2

#nav .search
    display: inline-block
    height: 100%
    vertical-align: middle
    width: 51px
    line-height: 51px
    padding: 0 12px
    color: #fff

#nav .tag
    display: inline-block
    height: 100%
    vertical-align: middle
    line-height: 51px

#nav .tag span
    margin: 0 1em

#nav .sign
    position: absolute
    right: 1em
    top: 1em

/*侧边栏*/
#control 
    width: 50px
    position: fixed
    left: 0
    top: 50%
    height: 200px
    background: #000
    margin-top: -100px

/*底部的导航栏*/
#list 
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    height: 50px
    background: #000

#container
    text-align: center
    position:absolute
    left:0
    top:50px
    bottom:50px
    width:100%

#pic
    height: 100%
    width: 100%
    position: absolute

#img
    position:absolute;
    left:3px
    top:12px

#container .pic img
    box-shadow: 0 0 1px rgba(0, 0, 0, 1), 0 0 32px rgba(0, 0, 0, .5)
