body 
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    margin: 0
    padding: 0
    background: #333

a
    color: #fff

#nav 
    height: 51px
    background: #000
    color: #fff
    position: relative
    white-space: nowrap
    z-index:2

#nav .search
    display: inline-block
    height: 100%
    vertical-align: middle
    width: 51px
    line-height: 51px
    padding: 0 12px
    color: #fff

#nav .tag
    display: inline-block
    height: 100%
    vertical-align: middle
    line-height: 51px

#nav .tag span
    margin: 0 1em

#nav .sign
    position: absolute
    right: 1em
    top: 1em

#nav .add
    position:absolute
    right:4em
    top:1em

/*侧边栏*/
#control 
    width: 50px
    position: fixed
    left: 0
    top: 50%
    background: #000
    margin-top: -100px
    color:#fff
    font-size:12px

#control a
    display:block
    width:100%
    text-align:center
    line-height:20px
    padding:8px 0
    text-decoration:none
    -webkit-transition: all .2s ease
    -moz-transition: all .2s ease
    -o-transition: all .2s ease
    transition: all .2s ease
    text-shadow:1px 1px 1px #000
    letter-spacing:3px
    color:#555

#control a.checked
    background:#555
    color:#eee

/*底部的导航栏*/
#list 
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    height: 50px
    background: #000

/*主体图片*/
#file-container
    text-align: center

#file-container .file
    display: inline-block
    border:solid 1px #000

#file-container .file a
    border: 1px solid #000
    margin-left: -1px
    display: inline-block
    border-top: none
    position: relative
    width:50px
    height:50px
    background-position:center 0;
    background-repeat:no-repeat

#file-container .file a.checked:after
    position:absolute
    left:0
    top:0
    width:100%
    height:100%
    content:''
    display:block
    background:url(/images/bg.png) 0 0


#container
    text-align: center
    position:absolute
    left:0
    top:50px
    bottom:50px
    width:100%
    overflow:hidden

#pic
    position: absolute
    top:30px
    bottom:30px
    width:100%
#img
    position:absolute
    left:3px
    top:0
    box-shadow:0 0 1px #000,0 0 8px rgba(0,0,0,.50)

#img img
    display:block

#container .pic img
    box-shadow: 0 0 1px rgba(0, 0, 0, 1), 0 0 32px rgba(0, 0, 0, .5)
